*{
    font-family: 'Nova Square';
    
}

.bg-custom{
    background: linear-gradient(to bottom, rgb(255, 255, 255),rgb(0, 0, 0, 0)),url(./media/mountains2.png), url(./media/switzerland-862870_1920.jpg);
    background-position: center;
    background-size: cover;     
    background-repeat: no-repeat;     
    height: 80vh;     
    width: 100%;
    margin: 0;
    padding: 0;
}
.bg-custom2{
    background-color: #ececec;
}

.custom-title{
    color:darkred;
    font-family: 'Nova Square', cursive;
    letter-spacing: 80px;
    font-size: 90px;
}
.custom-lorem::before{
    content: url(/media/virgolette-1.png);
}
.custom-lorem::after{
    content: url(/media/virgolette-2.png);
}

.icon-custom{
    font-size: 40px;
}

.padding-custom-icon{
    padding-top: 150px;
}

.border-custom{
    border-bottom: 3px darkred solid;
    padding: 0px 45px 20px;
}

.circle-custom{
    height: 25px;
    width: 25px;
    border:2px solid darkred;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 88px;
    
}

.div-height-custom{
    height: 45vh;
}
.text-red-custom{
    color: darkred;

}
.button-custom{
    background-color: darkred;
    padding: 10px 45px ;
}
.bg-custom3{background: linear-gradient(to bottom,#ececec,rgb(0, 0, 0, 0)),url(/media/trees2.png), #ececec;
    background-position: center;
    background-size: cover;     
    background-repeat: no-repeat;     
    height: 80vh;     
    width: 100%;
    margin: 0;
    padding: 0;

}