*{
    font-family: 'Rajdhani', sans-serif;
    
}

@media screen and (max-width: 482px) {
    .media-custom{
        align-items: flex-end;
        margin-bottom: 4rem;
    }
        
    }
.bg-custom{
    background: linear-gradient(to bottom, rgb(255, 255, 255),rgb(0, 0, 0, 0)),url(./media/mountains2.png), url(./media/switzerland-862870_1920.jpg);
    background-position: center;
    background-size: cover;     
    background-repeat: no-repeat;     
    height: 80vh;     
    width: 100%;
    margin: 0;
    padding: 0;
}
.bg-custom2{
    background-color: #ececec;
}

.custom-title{
    color:darkred;
    font-family: 'Nova Square', cursive;
    letter-spacing: 5rem;
    font-size: 5.6rem;
}

@media screen and (max-width: 600px) {
    .custom-title{
        letter-spacing: 0rem;
    }
    }
    

  
.custom-lorem::before{
    content: url(/media/virgolette-1.png);
}
.custom-lorem::after{
    content: url(/media/virgolette-2.png);
}

.custom-lorem{
    font-family: 'Rajdhani', sans-serif;
    font-size:175% ;
    font-weight:600;
    text-align: center;
    font-style: oblique;
}

.icon-custom{
    font-size: 40px;
}

.padding-custom-icon{
    padding-top: 150px;
}

.border-custom{
    border-bottom: 3px darkred solid;
    padding: 0px 45px 20px;
}

.circle-custom{
    height: 25px;
    width: 25px;
    border:2px solid darkred;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 88px;
    
}

.div-height-custom{
    height: 45vh;
}
.text-red-custom{
    color: darkred;
    font-family: 'Nova Square', cursive;

}
.button-custom{
    background-color: darkred;
    padding: 10px 45px ;
}

   

.bg-custom3{background: linear-gradient(to bottom,#ececec,rgb(0, 0, 0, 0)),url(/media/trees2.png), #ececec;
    background-position: center;
    background-size: cover;     
    background-repeat: no-repeat;     
    height: 80vh;     
    width: 100%;
    margin: 0;
    padding: 0;

}

.border-custom2{
    border-left: 3px darkred solid;
    padding-left:20px;
}

.circle-custom2{
    height: 1.5rem;
    width: 1.5rem;
    border:2px solid darkred;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 14px;

}





.bg-custom4{background: linear-gradient(to bottom,white,rgb(0, 0, 0, 0)),url(./media/single.png), white;
    background-position: bottom right;
    background-repeat: no-repeat;     
    
   
}

.image-custom{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: solid darkred 4px;
    padding: 7px;

}



.img-bg-albero{
    background-image: url(./media/other.png);
    background-position: center;
    background-size: cover;     
    background-repeat: no-repeat;     
    height: 80vh;     
    width: 100%;
    margin: 0;
    padding: 0;
    
}

footer{
    background-color: darkred ;
    color: white;
}

.p-custom{
    font-style: oblique;
}